html, body { 
  color: #F3F3F3;
  height: 100%;
}

p {
  font-size: 150%;
  font-family: sans-serif;
  width: 71%;
}

.header {
  display: inline-block;
  background-color: #F3F3F3;
  position: static;
  float: left;
  
}

.sag {
  width: 100%;
}

h1 {
  color: black;
}

.metin {
  width: 200%
}

.dava {
  font-size: 25px;
  color: black !important;
  text-align: center;
  width: 65%;
  float: left;
  margin-top: 5px;
}

.panel {
  margin-top: 10px;
  background-color: purple!important;

}

/* Pattern styles */
.area {
  height: 550px !important;
}

/* Pattern styles */
.container {
  display: grid;
}

/*
.left-half {
  background: #ff9e2c;
  grid-column: 1;
}

.right-half {
  background: #b6701e;
  grid-column: 2;
}
*/
/* Pattern styles */
.container {
  display: table;
  width: 100%;
}

.left-half {
  background-color: #F3F3F3;
  position: absolute;
  left: 0px;
  width: 71%;

}

.right-half {
  position: absolute;
  right: 0px;
  width: 50%;
  height: 200%;
  left: 50%;
  text-align: center;
  color: black;
  font-size: 1.25rem;
  font-family: sans-serif;
  background-color: #F3F3F3;
}



/* ##### general ##### */
* {
  box-sizing: border-box;
}
main {
  padding: 0 2rem;
}

/* ##### Search ##### */
header {
  background: #3498db;
  margin-bottom: 2rem;
}
input[type='text'] {
  margin: 1rem;
  background: #fff;
  font-size: 1.3rem;
  border: none;
  box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
  border-radius: 3px;
  padding: 0 2rem;
  width: calc(100% - 2rem);
  height: 4rem;
}

/* ##### NamesList ##### */
ul {
  padding: 0;
}
li {
  position: relative;
  list-style: none;
  display: block;
  padding: 1rem 1rem;
  margin: 3%;
  border-radius: 3px;
}
li:hover {
  cursor: pointer;
}
li.paragraph {
  background: #F0EEE5;
  color: #16527a;
}
li.paragraph:hover {
  background: #FFFFFF;
}

.selected-paragraph {
  z-index: 1;
}

/* ##### Favourites ##### */
.favourites li:hover:before {
  content: '\00D7';
  position: absolute;
  top: -0.5rem;
  right: -0.3rem;
  width: 1rem;
  height: 1rem;
  z-index: 1;
  text-align: center;
  line-height: 1;
  font-size: 0.9rem;
  vertical-align: middle;
  border-radius: 50%;
  background: #ff6347;
  border: solid 2px #fff;
  color: #fff;
  box-shadow: 0 0 6px rgba(0,0,0,0.3);
}
.favourites h4 {
  padding: 1rem 0;
  font-weight: 400;
  font-size: 1.3rem;
  margin: 0;
  color: #b3b3b3;
}
.favourites hr {
  border-bottom: 0;
  border-top: solid 1px #e6e6e6;
  margin: 1.75rem 0;
}

/* ##### Footer ##### */
.credit {
  padding: 1rem 0;
  color: #b3b3b3;
}
.credit a {
  color: #3498db;
}
button {
  background: #d7d7d7;
  color: #3b3b3b;
  padding: 0.6rem 1rem;
  font-size: 0.8rem;
  border: solid 1px #c7c7c7;
  margin: 1rem 0;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  border-radius: 3px;
  outline: none;
}
button:hover {
  background: #ddd;
}

.clicked {
  background: #f4f4f4;
  border-radius: 2px;
  padding: 10px;
  text-align: left;
}
